@use "abstracts/colors";
@use "abstracts/fonts";
@use "breakpoints/breakpoints"as *;
@use "functions/functions"as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;
    font-family: fonts.$font-barlow-condensed;
}

body {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


// selected class

// .selected{

// }


.navbar {
    height: rem(96);
    margin-top: rem(40);

    .log {
        margin-left: rem(55);

    }

    .line {
        border-bottom: 1px solid colors.$dark-grey-color;
        width: 630px;
        position: absolute;
        left: rem(230);
        top: rem(56) !important;
        z-index: 1;

        @include breakpoints-down(bigLarge) {
            display: none;
        }
    }

    .nav {
        height: rem(96);
        // width: rem(1100);
        width: 57%;
        align-items: center;
        background: linear-gradient(90deg, #151923, #333F53, #1D273C);
        position: relative;

        ul {
            margin-bottom: 0;
            width: rem(720);
            margin-right: rem(10);

            li {
                a {
                    color: colors.$white-color;
                    font-size: fonts.$fs-tw;
                    letter-spacing: fonts.$space-tps;
                    height: rem(96);
                    display: flex;
                    align-items: center;
                    padding: 0 5px;
                    border-bottom: 3px solid transparent;

                    &:hover {
                        border-bottom: 3px solid #85868B;
                    }

                    span {
                        font-weight: bold;
                        margin-right: rem(6);
                    }
                }
            }
        }

        // .under-line {
        //     position: absolute;
        //     width: 100px;
        //     left: 163px;
        //     bottom: 0;
        //     border-bottom: 3px solid white;
        // }
    }
}

.container {
    height: calc(85vh - 136px);
    // width: 1480px !important;
    width: 90%;
    margin-top: rem(96);

    .pickup {
        h3 {
            color: colors.$white-color;
            font-size: fonts.$smallest-heading;
            letter-spacing: fonts.$space-fpsff;
            text-transform: uppercase;
            margin-bottom: rem(48);

            span {
                color: colors.$dark-grey-color;
                font-weight: bold;
                margin-right: rem(8);
            }
        }

        .planet {
            background-image: url(/assets/destination/image-moon.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: rem(500);
            height: rem(500);
            margin-bottom: rem(96);

        }
    }

    .info-planet {
        margin-left: rem(24);

        .info {
            max-width: rem(600);
            min-width: rem(420);
            height: rem(510);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .planet-lists {
                padding-left: 0;
                width: rem(356);

                li {
                    padding-bottom: rem(16);

                    a {
                        font-size: fonts.$fs-tw;
                        letter-spacing: fonts.$space-tps;
                        color: colors.$purple-color;
                        text-transform: uppercase;

                    }

                    &:first-child {
                        border-bottom: 2px solid #fff;
                    }
                }
            }

            h1 {
                margin-top: rem(24);
                font-size: fonts.$biggest-heading;
                font-family: fonts.$font-bellefair;
                text-transform: uppercase;
                color: colors.$white-color;
                font-size: fonts.$big-heading;
            }

            p {
                font-size: fonts.$fs-e;
                font-family: fonts.$font-barlow;
                width: 100%;
            }

            h3,
            p {
                color: colors.$purple-color;
                padding-bottom: rem(36);
                border-bottom: 1px solid colors.$dark-dark-grey-color;
            }

            .avg {
                max-width: 400px;
                text-transform: uppercase;

                .distance {
                    font-size: fonts.$fs-f;
                    color: colors.$purple-color;
                    font-family: fonts.$font-barlow-condensed;
                    letter-spacing: fonts.$space-tpnf;
                }

                .value-distance,
                .value-day {
                    font-size: fonts.$fs-te;
                    color: colors.$white-color;
                    font-family: fonts.$font-bellefair;
                }

            }
        }
    }
}

@include breakpoints-down(medium) {

    body {
        background-image: url("/assets/destination/background-destination-tablet.jpg");
    }

    .navbar {
        margin: 0;
        padding: 0;
        display: flex;

        .log {
            margin-top: 25px;
        }

        ul {
            li {
                a {
                    span {
                        display: none;
                    }
                }
            }
        }

        .nav {
            width: 69%;
        }
    }

    .container {
        margin-top: rem(50);
        flex-direction: column;
        text-align: center;
        display: flex;
        align-items: center !important;

        .pickup {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-size: fonts.$fs-yirmi;
            }

            .planet {
                width: rem(300);
                height: rem(300);
                margin-bottom: 0 !important;
            }
        }

        .info-planet {
            margin-top: rem(-48);

            .info {
                margin-top: rem(-48);
                display: flex;
                align-items: center;

                ul {
                    margin-bottom: rem(-12);

                    li {
                        a {
                            font-size: fonts.$fs-onalti !important;
                        }
                    }
                }

                h1 {
                    font-size: fonts.$fs-seksen;
                }

                p {
                    width: 100% !important;
                    font-size: fonts.$fs-onalti;
                    margin-bottom: rem(16);
                    text-align: center;
                }

                .avg {
                    width: rem(500);
                    min-width: rem(400);
                    text-transform: uppercase;
                    margin-bottom: rem(16);

                    hr {
                        width: 100% !important;
                    }
                }
            }
        }
    }
}


@include breakpoints-down(small) {
    body {
        background-image: url("/assets/destination/background-destination-mobile.jpg");
    }

    .navbar {
        justify-content: space-between;
        align-items: center;

        .log {
            margin-left: rem(28);
        }

        .nav {
            display: none;

            ul {
                width: 200px;

                li {
                    margin-top: rem(56);
                    height: rem(32);

                    &:first-child {
                        margin-top: rem(96);
                    }

                    a {
                        width: 250px;
                        color: colors.$white-color;
                        font-size: fonts.$fs-tw;
                        letter-spacing: fonts.$space-tps;
                        height: rem(32);
                        display: flex;
                        align-items: center;
                        padding: 0 5px;
                        border-right: 3px solid transparent;
                        border-bottom: 0 !important;

                        span {
                            display: block;
                        }

                        &:hover {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }

        .menu {
            margin-right: rem(28);
            display: block !important;
            position: absolute;
            z-index: 100;
            right: 0;
        }
    }

    .container {
        flex-direction: column;
        width: 90% !important;
        text-align: center;
        display: flex;
        align-items: center !important;
        justify-content: start !important;

        .pickup {

            h3 {
                font-size: fonts.$fs-onalti;
            }

            .planet {
                width: rem(170);
                height: rem(170);
            }

        }

        .info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            ul {
                li {
                    a {
                        font-size: fonts.$fs-ondort !important;
                    }
                }
            }

            h1 {
                font-size: fonts.$fs-ellialti !important;
            }

            p {
                font-size: fonts.$fs-onbes !important;
                margin-bottom: rem(50);
            }
        }
    }
}