@use "abstracts/colors";
@use "abstracts/fonts";
@use "breakpoints/breakpoints"as *;
@use "functions/functions"as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;
    font-family: fonts.$font-barlow-condensed;
}

body {
    background-image: url("/assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


// selected class

// .selected{

// }



.navbar {
    height: rem(96);
    margin-top: rem(40);

    .log {
        margin-left: rem(55);

    }

    .line {
        border-bottom: 1px solid colors.$dark-grey-color;
        width: 630px;
        position: absolute;
        left: rem(230);
        top: rem(56) !important;
        z-index: 1;

        @include breakpoints-down(bigLarge) {
            display: none;
        }
    }

    .nav {
        height: rem(96);
        //width: rem(1100);
        width: 57%;
        align-items: center;
        background: linear-gradient(90deg, #151923, #333F53, #1D273C);
        position: relative;

        ul {
            margin-bottom: 0;
            width: rem(720);
            margin-right: rem(10);

            li {

                a {
                    color: colors.$white-color;
                    font-size: fonts.$fs-tw;
                    letter-spacing: fonts.$space-tps;
                    height: rem(96);
                    display: flex;
                    align-items: center;
                    padding: 0 5px;
                    border-bottom: 3px solid transparent;

                    &:hover {
                        border-bottom: 3px solid #85868B;
                    }

                    span {
                        font-weight: bold;
                        margin-right: rem(6);
                    }
                }
            }
        }

        // .under-line {
        //     position: absolute;
        //     width: 100px;
        //     left: 163px;
        //     bottom: 0;
        //     border-bottom: 3px solid white;
        // }
    }
}

.container {
    height: calc(85vh - 136px);
    width: 1480px !important;

    .info {
        width: rem(600);
        height: rem(510);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h3 {
            font-size: fonts.$fs-te;
            text-transform: uppercase;
            color: colors.$purple-color;
            letter-spacing: fonts.$space-fpsff;
        }

        h1 {
            font-size: fonts.$biggest-heading;
            font-family: fonts.$font-bellefair;
            text-transform: uppercase;
            color: colors.$white-color;
        }

        p {
            font-size: fonts.$fs-e;
            font-family: fonts.$font-barlow;
        }

        h3,
        p {
            color: colors.$purple-color;
        }
    }

    .explore {
        min-width: rem(365);
        min-height: rem(365);

        text-transform: uppercase;
        font-size: fonts.$small-heading;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        font-family: fonts.$font-bellefair;

        &:hover {
            box-shadow: 1px 1px 5px 100px rgba(255, 255, 255, .5);
        }
    }
}

@include breakpoints-down(medium) {

    body {
        background-image: url("/assets/home/background-home-tablet.jpg");
    }

    .navbar {
        margin: 0;
        padding: 0;
        display: flex;

        .log {
            margin-top: 25px;
        }

        ul {
            li {
                a {
                    span {
                        display: none;
                    }
                }
            }
        }

        .nav {
            width: 69%;
        }
    }

    .container {
        flex-direction: column;
        height: calc(100vh - 96px);
        text-align: center;
        display: flex;
        align-items: center !important;

        .info {
            display: flex;
            align-items: center;

            h3 {
                font-size: fonts.$fs-tf;
            }

            p {
                width: 90%;
                font-size: fonts.$fs-tw;
                margin-bottom: rem(50);
            }
        }

        .explore {
            min-width: rem(302);
            min-height: rem(302);
            margin-bottom: 50px !important;

            &:hover {
                box-shadow: 1px 1px 5px 75px rgba(255, 255, 255, .5);
            }
        }
    }
}

@include breakpoints-down(small) {
    body {
        background-image: url("/assets/home/background-home-mobile.jpg");
    }

    .navbar {
        justify-content: space-between;
        align-items: center;

        .log {
            margin-left: rem(28);
        }

        .nav {
            display: none;

            ul {
                width: 200px;
                margin-top: -140px;
                padding-left: 0;

                li {
                    margin-top: rem(56);
                    height: rem(32);

                    &:first-child {
                        margin-top: rem(96);
                    }

                    a {
                        width: 250px;
                        color: colors.$white-color;
                        font-size: fonts.$fs-tw;
                        letter-spacing: fonts.$space-tps;
                        height: rem(32);
                        display: flex;
                        align-items: center;
                        padding: 0 5px;
                        border-right: 3px solid transparent;
                        border-bottom: 0 !important;

                        span {
                            display: block;
                        }

                        &:hover {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }

        .menu {
            margin-right: rem(28);
            display: block !important;
            position: absolute;
            z-index: 100;
            right: 0;
        }
    }

    .container {
        flex-direction: column;
        height: calc(100vh - 96px);
        width: 90% !important;
        text-align: center;
        display: flex;
        align-items: center !important;

        .info {
            margin-top: rem(24);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            h3 {
                font-size: fonts.$fs-tw;
            }

            h1 {
                font-size: fonts.$fs-oh;
            }

            p {
                font-size: fonts.$fs-oe;
                margin-bottom: rem(50);
            }
        }

        .explore {
            min-width: rem(187.5);
            min-height: rem(187.5);
            margin-bottom: 50px !important;

            &:hover {
                box-shadow: 1px 1px 5px 50px rgba(255, 255, 255, .5);
            }
        }
    }

    // for menu

    .selected {
        display: block !important;
        position: absolute !important;
        z-index: 99;
        top: 0;
        right: 0;
        height: 100vh !important;
        width: 67% !important;
        background: linear-gradient(180deg, #151923, #333F53, #1D273C) !important;
    }

    // style="transform: scaleY(1); transition: all 300ms ease 0s;"
    .menu-selected {
        flex-direction: column;
        position: absolute;
        top: rem(150);
        left: rem(32);
    }
}