$black-color:#0B0D17;
$purple-color:#D0D6F9;
$white-color:#FFFFFF;
$grey-color:#484951;
$dark-grey-color:#484B54;
$dark-dark-grey-color:#383B4B;
$dot-grey-color:#979797;
$another-grey-color:#8F9095;
$circle-grey-color:#4D4E56;